<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-input label="Newspaper title:" [value]="newspaper.title" #InputTitle></ion-input>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-input label="Number:" [value]="newspaper.num" #InputNumber></ion-input>
      <ion-input label="Release date:" [value]="newspaper.release_date" #InputRelDate></ion-input>
      <ion-input label="Page number:" [value]="newspaper.page_num" #InputPageNum></ion-input>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-button (click)="save(InputTitle.value,InputNumber.value,InputRelDate.value,InputPageNum.value)">
    Save
  </ion-button>
</ion-card>
