<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-item>
    <ion-label>N:</ion-label>
    <ion-input formControlName="N" placeholder="Enter the number of constants (3 or 4)"></ion-input>
  </ion-item>
  <div *ngIf="form.get('N')?.invalid && form.get('N')?.touched">
    <ion-text color="danger" *ngIf="form.get('N')?.errors?.['required']">N is required.</ion-text>
  </div>
  <ion-item>
    <ion-label>X:</ion-label>
    <ion-input formControlName="X" placeholder="Enter X"></ion-input>
  </ion-item>
  <div *ngIf="form.get('X')?.invalid && form.get('X')?.touched">
    <ion-text color="danger" *ngIf="form.get('X')?.errors?.['required']">X is required.</ion-text>
  </div>
  <ion-button expand="full" type="submit" [disabled]="form.invalid">Submit</ion-button>
</form>